<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>336070708897-qooq24bgrfh85q1lqhnit450c157fndm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.336070708897-qooq24bgrfh85q1lqhnit450c157fndm</string>
	<key>API_KEY</key>
	<string>AIzaSyCnvuj17JxtaAvlT7xeQWvKUAhdFafO-0I</string>
	<key>GCM_SENDER_ID</key>
	<string>336070708897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.personal.info.app</string>
	<key>PROJECT_ID</key>
	<string>personal-information-app-2d865</string>
	<key>STORAGE_BUCKET</key>
	<string>personal-information-app-2d865.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:336070708897:ios:4dc6e38a71baddae2beae0</string>
</dict>
</plist>